{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    {% for flat in flats %}
    <div class="col-md-4">
        <div class="flat-card">
            <img src="{{ flat.picture.url }}" alt="{{ flat.name }}">
            <div class="flat-info">
                <h3>{{ flat.name }}</h3>
                <p>Owner: {{ flat.owner.user.first_name }}</p>
                <p>Price per night: ${{flat.price}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

